* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #222831;
}

header {
    background-color: #222831;
}

/* HR */
hr {
    border-top: 5px dotted rgb(255, 255, 255);
    width: 20%;
    margin: 50px auto 50px auto;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: snow; 
    border-radius: 10px;
}
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a39d9d; 
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

/* NAVBAR  CSS */

.navbar-brand {
    padding: 20px 0 20px 0;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    margin-top: 0;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar {
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0;
    background-color: #222831;
    margin-top: 0;
}

.nav-item a {
    margin-left: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: white;
    padding: 20px 0 20px 0;
}

.nav-item a:hover {
    animation-name: nav-hover;
    animation-duration: 0ms;
    animation-fill-mode: forwards;
}

@keyframes nav-hover {
    100% {
        background-color: #f05454;
    }
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
    border-color: white;
}

.navbar-nav {
    margin-top: 0;
}

/* MAIN CONTENT */

/* CAROUSEL */
main {
    background-color: #222831;
}

.carousel-custom {
    width: 80%;
    margin: 0 auto 0 auto;
}

.carousel-item img {
    height: 600px;
}

.carousel-control-prev {
    margin-left: -150px;
}

.carousel-control-next {
    margin-right: -150px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    margin-top: 20px;
}


/* ACTIVITY */
.activity {
    margin-top: 50px;
}

/* NOTICE */
.notice-title {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    color: snow;
}

.notice {
    height: 500px;
    color: snow;
    width: 80%;
    margin: auto;
    overflow-y: scroll;
    border: 3px snow;
    border-radius: 2%;
    border-style: hidden;
}

.item h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item {
    padding: 20px 15px 20px 15px;
    text-align: center;
    width: 80%;
    margin: 20px auto 20px auto;
}

.item a {
    color: snow;
}

.item:hover {
    background-color: #f05454;
}

.notice hr {
    width: 10%;
    background-color: snow;
    margin: 40px auto 40px auto;
}

/* HIGHLIGHTS */
.highlights {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#blog {
    height: 300px;
}

.card-body {
    height: 100px;
    background-color: #222831;
    color: snow;
}